.component-container {
    max-width: 1200px;  /* ou la largeur maximale souhaitée */
    margin: 0 auto;
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-left: 0.75rem;
    justify-content: flex-start;
}

.achille-logo {
    height: 24px;
    width: auto;
}

.custom-icon {
    height: 20px;
    width: 20px;
    filter: brightness(0) invert(1);
}

.status-icon.custom-icon {
    margin-right: 4px;
}

.indicator-box {
    padding: 0.75rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.indicator-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    justify-content: center;
}

.indicator-icon {
    display: flex;
    align-items: center;
}

.indicator-label {
    font-size: 0.875rem;
    color: #514f4d;
    font-weight: 600;
}

.indicator-value, .success-background, .warning-background, .danger-background, .info-background {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.2rem 0.75rem;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 0.8125rem;
}

.success-background {
    background-color: #4CAF50; /* vert */
    color: white;
}

.warning-background {
    background-color: #FF9800; /* orange */
    color: white;
}

.danger-background {
    background-color: #F44336; /* rouge */
    color: white;
}

.info-background {
    background-color: #808080; /* gris au lieu de bleu */
    color: white;
}

.icon-color-error {
    --slds-c-icon-color-foreground-default: #B90516;
    --slds-c-icon-color-foreground: #B90516;
    --slds-g-color-neutral-base-30: #B90516;
}

.box-error {
    background-color: #FFECEA;
    color: #B90516;
}

.title {
    font-size: 1rem;
    font-weight: 500;
    color: #16325c;
}

/*

*/

/* Ajout d'un style pour les lightning-icons */
.indicator-icon lightning-icon {
    --sds-c-icon-color-foreground-default: #514f4d;  /* Même couleur que le texte */
}

/* Ajuster le padding du conteneur principal */
.slds-p-around_medium {
    padding: 1rem 0.75rem;
}

/* Optionnel : ajuster le padding de la lightning-card si nécessaire */
:host {
    --sds-c-card-spacing-block-start: 0;
    --sds-c-card-spacing-block-end: 0;
    --sds-c-card-spacing-inline-start: 0;
    --sds-c-card-spacing-inline-end: 0;
}

.status-icon {
    --sds-c-icon-color-foreground-default: currentColor;
}